
_target_: d123.training.models.sim_agent.smart.smart.SMART
_convert_: 'all'

model_config:
  _target_: d123.training.models.sim_agent.smart.smart_config.SMARTConfig
  _convert_: 'all'

  lr: 0.0005
  lr_warmup_steps: 0
  lr_total_steps: 100000
  lr_min_ratio: 0.05

  val_open_loop: True
  val_closed_loop: True

  # Tokenizer
  map_token_file: "map_traj_token5.pkl"
  agent_token_file: "agent_vocab_555_s2.pkl"

  map_token_sampling:
    _target_: d123.training.models.sim_agent.smart.smart_config.SMARTRolloutSampling
    _convert_: 'all'
    num_k: 1
    temp: 1.0
    criteria: null

  agent_token_sampling:
    _target_: d123.training.models.sim_agent.smart.smart_config.SMARTRolloutSampling
    _convert_: 'all'
    num_k: 1
    temp: 1.0
    criteria: null

  # Rollout Sampling
  validation_rollout_sampling:
    _target_: d123.training.models.sim_agent.smart.smart_config.SMARTRolloutSampling
    _convert_: 'all'
    num_k: 5
    temp: 1.0
    criteria: "topk_prob"

  training_rollout_sampling:
    _target_: d123.training.models.sim_agent.smart.smart_config.SMARTRolloutSampling
    _convert_: 'all'
    num_k: -1
    temp: 1.0
    criteria: "topk_prob"


  # Decoder
  hidden_dim: 128
  num_freq_bands: 64
  num_heads: 4
  head_dim: 8
  dropout: 0.1
  hist_drop_prob: 0.1
  num_map_layers: 2
  num_agent_layers: 4
  pl2pl_radius: 10
  pl2a_radius: 30
  a2a_radius: 60
  time_span: 30
  num_historical_steps: 11
  num_future_steps: 80

  # train loss
  use_gt_raw: True
  gt_thresh_scale_length: -1.0  # {"veh": 4.8, "cyc": 2.0, "ped": 1.0}
  label_smoothing: 0.1
  rollout_as_gt:  False

  # else:
  n_rollout_closed_val: 10
  n_vis_batch: 2
  n_vis_scenario: 2
  n_vis_rollout: 5
