name: docs

on:
  push:
    branches:
      - dev_v0.0.7  # Change this to your branch name (e.g., docs, dev, etc.)
  workflow_dispatch:  # Allows manual triggering

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install uv
          uv pip install --system -e ".[docs]"

      - name: Build Sphinx documentation
        run: |
            sphinx-build docs docs/_build -b dirhtml

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'docs/_build'

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v3
        with:
          branch: dev_v0.0.7
          folder: docs/_build
